.u-section-1 .u-sheet-1 {
  min-height: 868px;
}

.u-section-1 .u-group-1 {
  width: 385px;
  min-height: 341px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 148px auto 0 30px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 40px 27px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 14px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 20px 42px 0 0;
}

.u-section-1 .u-shape-1 {
  width: 228px;
  height: 228px;
  background-image: none;
  margin: -370px auto 0 342px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 568px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -77px 15px 0 338px;
}

.u-section-1 .u-shape-2 {
  width: 166px;
  height: 166px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 360deg;
  --animation-custom_in-scale: 1;
  margin: -334px auto 60px 16px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 872px;
  }

  .u-section-1 .u-group-1 {
    width: 377px;
    min-height: 560px;
    margin-top: 102px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 17px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 200px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -577px;
    margin-right: 41px;
    margin-left: auto;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
    margin-top: -28px;
    margin-right: 0;
    margin-left: 153px;
  }

  .u-section-1 .u-shape-2 {
    width: 103px;
    height: 103px;
    margin-top: -691px;
    margin-right: 356px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 942px;
  }

  .u-section-1 .u-group-1 {
    min-height: 207px;
    margin-top: 144px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -50px;
    margin-right: -61px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 95%;
    margin-top: -175px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -799px;
    margin-right: auto;
    margin-left: -50px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 985px;
  }

  .u-section-1 .u-group-1 {
    min-height: 282px;
    margin-top: 100px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
  }

  .u-section-1 .u-shape-1 {
    width: 178px;
    height: 178px;
    margin-top: -282px;
    margin-right: -50px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 106px;
  }

  .u-section-1 .u-shape-2 {
    width: 82px;
    height: 82px;
    margin-top: -68px;
    margin-bottom: 20px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 995px;
  }

  .u-section-1 .u-group-1 {
    min-height: 308px;
    margin-top: 99px;
    width: 340px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 14px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-shape-1 {
    width: 137px;
    height: 137px;
    margin-top: -308px;
    margin-right: -68px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 171px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -82px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1049px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto 0 30px;
}

.u-section-2 .u-custom-html-1 {
  min-height: 916px;
  background-image: none;
  width: 1100px;
  margin: 20px auto 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-custom-html-1 {
    min-height: 500px;
    height: auto;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-custom-html-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-custom-html-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: url("images/174eee12-5d27-4225-9a25-b54680ad20c3.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 704px;
}

.u-section-3 .u-group-1 {
  width: 827px;
  min-height: 312px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-group-2 {
  min-height: 206px;
  margin: 22px auto 0;
}

.u-section-3 .u-text-1 {
  letter-spacing: normal;
  font-weight: normal;
  text-transform: none;
  margin: 0 auto;
}

.u-section-3 .u-btn-1 {
  font-size: 1.875rem;
  margin: 60px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-3 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 333px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 210px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-group-2 {
    min-height: 207px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-btn-1 {
    font-size: 1.125rem;
    padding: 10px 16px 10px 15px;
  }
}