 .u-section-1 {
  background-image: url("images/70e882ea-0ff3-49f9-a744-9337a5addafb.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1016px;
}

.u-section-1 .u-group-1 {
  width: 578px;
  min-height: 322px;
  height: auto;
  margin: 25px auto 0 0;
}

.u-section-1 .u-shape-1 {
  width: 578px;
  height: 322px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  width: 456px;
  margin: -240px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 523px auto 0;
}

.u-section-1 .u-table-1 {
  width: 900px;
  margin: -630px 15px 0 auto;
}

.u-block-0d24-49 {
  background-image: none;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}

.u-section-1 .u-table-cell-2 {
  background-image: none;
}

.u-section-1 .u-table-cell-3 {
  background-image: none;
}

.u-section-1 .u-table-cell-4 {
  background-image: none;
}

.u-section-1 .u-table-cell-5 {
  background-image: none;
  font-size: 1.875rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-6 {
  background-image: none;
  font-size: 1.875rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-7 {
  background-image: none;
}

.u-section-1 .u-table-cell-8 {
  background-image: none;
  font-weight: 400;
  font-size: 1rem;
}

.u-section-1 .u-icon-1 {
  font-size: 1.875em;
}

.u-section-1 .u-table-cell-9 {
  background-image: none;
  font-weight: 400;
  font-size: 1rem;
}

.u-section-1 .u-icon-2 {
  font-size: 1.875em;
}

.u-section-1 .u-table-cell-10 {
  background-image: none;
}

.u-section-1 .u-table-cell-11 {
  background-image: none;
}

.u-section-1 .u-icon-3 {
  font-size: 1.875em;
}

.u-section-1 .u-table-cell-12 {
  background-image: none;
}

.u-section-1 .u-icon-4 {
  font-size: 1.875em;
}

.u-section-1 .u-table-cell-13 {
  background-image: none;
}

.u-section-1 .u-table-cell-14 {
  background-image: none;
}

.u-section-1 .u-table-cell-15 {
  background-image: none;
}

.u-section-1 .u-icon-5 {
  font-size: 1.875em;
}

.u-section-1 .u-table-cell-16 {
  background-image: none;
}

.u-section-1 .u-table-cell-17 {
  background-image: none;
}

.u-section-1 .u-table-cell-18 {
  background-image: none;
}

.u-section-1 .u-icon-6 {
  font-size: 1.875em;
}

.u-block-0d24-35 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1013px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-table-1 {
    width: 720px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
  }

  .u-section-1 .u-table-header-1 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 14.81% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 983px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-shape-1 {
    height: 185px;
    margin-top: 22px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
    margin-top: -126px;
  }

  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1186px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  letter-spacing: normal;
  margin: 30px 461px 0 0;
}

.u-section-2 .u-icon-1 {
  height: 39px;
  width: 39px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 14px auto 0 15px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 auto 53px 0;
}

.u-section-2 .u-image-1 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-position: 50% 50%;
  background-image: url("images/f7b9c273-7f5f-4e90-8dd7-82c6886c90f7.jpg");
}

.u-section-2 .u-image-2 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-position: 50% 50%;
  background-image: url("images/8f9649ec-2bd9-4362-b77d-d74415fd8fa6.jpg");
}

.u-section-2 .u-image-3 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-position: 50% 50%;
  background-image: url("images/1a47978c-41d0-4cda-8125-5156de4bd999.jpg");
}

.u-section-2 .u-image-4 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-position: 50% 50%;
  background-image: url("images/473ed8eb-3128-4eba-b4b2-4604bca822c0.jpg");
}

.u-section-2 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-image-5 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-position: 50% 50%;
  background-image: url("images/52eee38f-a994-46ea-b985-9afc1713e15b.jpg");
}

.u-section-2 .u-image-6 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-position: 50% 50%;
  background-image: url("images/4eeb6567-41c6-41f9-9cb2-8211f40fd50c.jpg");
}

.u-section-2 .u-image-7 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-position: 50% 50%;
  background-image: url("images/2c56b42f-a15c-4e64-abff-b43a8983cce9.jpg");
}

.u-section-2 .u-container-layout-7 {
  padding-left: 60px;
  padding-right: 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1122px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-right: 261px;
  }

  .u-section-2 .u-icon-1 {
    position: relative;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 280px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    transition-duration: 0.5s;
  }

  .u-section-2 .u-image-2 {
    min-height: 280px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    transition-duration: 0.5s;
  }

  .u-section-2 .u-image-3 {
    min-height: 280px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    transition-duration: 0.5s;
  }

  .u-section-2 .u-image-4 {
    min-height: 280px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    transition-duration: 0.5s;
  }

  .u-section-2 .u-image-5 {
    min-height: 280px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    transition-duration: 0.5s;
  }

  .u-section-2 .u-image-6 {
    min-height: 280px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    transition-duration: 0.5s;
  }

  .u-section-2 .u-image-7 {
    min-height: 280px;
    --animation-custom_in-scale: 0.3;
    transition-duration: 0.5s;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 859px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 41px;
  }

  .u-section-2 .u-image-1 {
    min-height: 214px;
  }

  .u-section-2 .u-image-2 {
    min-height: 214px;
  }

  .u-section-2 .u-image-3 {
    min-height: 214px;
  }

  .u-section-2 .u-image-4 {
    min-height: 214px;
  }

  .u-section-2 .u-image-5 {
    min-height: 214px;
  }

  .u-section-2 .u-image-6 {
    min-height: 214px;
  }

  .u-section-2 .u-image-7 {
    min-height: 214px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-2 .u-text-1 {
    margin-right: auto;
  }

  .u-section-2 .u-image-1 {
    min-height: 482px;
  }

  .u-section-2 .u-image-2 {
    min-height: 241px;
  }

  .u-section-2 .u-image-3 {
    min-height: 482px;
  }

  .u-section-2 .u-image-4 {
    min-height: 482px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-5 {
    min-height: 482px;
  }

  .u-section-2 .u-image-6 {
    min-height: 241px;
  }

  .u-section-2 .u-image-7 {
    min-height: 482px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 405px;
  }

  .u-section-2 .u-image-1 {
    min-height: 303px;
  }

  .u-section-2 .u-image-2 {
    min-height: 152px;
  }

  .u-section-2 .u-image-3 {
    min-height: 303px;
  }

  .u-section-2 .u-image-4 {
    min-height: 303px;
  }

  .u-section-2 .u-image-5 {
    min-height: 303px;
  }

  .u-section-2 .u-image-6 {
    min-height: 152px;
  }

  .u-section-2 .u-image-7 {
    min-height: 303px;
  }
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before,
.u-section-2 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-1.u-image-1.u-image-1:hover {
  transform: translateX(0px) translateY(-10px) scale(1) !important;
}

.u-section-2 .u-image-1.u-image-1.u-image-1.hover {
  transform: translateX(0px) translateY(-10px) scale(1) !important;
}

.u-section-2 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-2,
.u-section-2 .u-image-2:before,
.u-section-2 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-2.u-image-2.u-image-2:hover {
  transform: translateX(0px) translateY(-10px) scale(1) !important;
}

.u-section-2 .u-image-2.u-image-2.u-image-2.hover {
  transform: translateX(0px) translateY(-10px) scale(1) !important;
}

.u-section-2 .u-container-layout:hover .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-3,
.u-section-2 .u-image-3:before,
.u-section-2 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-3.u-image-3.u-image-3:hover {
  transform: translateX(0px) translateY(-10px) scale(1) !important;
}

.u-section-2 .u-image-3.u-image-3.u-image-3.hover {
  transform: translateX(0px) translateY(-10px) scale(1) !important;
}

.u-section-2 .u-container-layout:hover .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-4,
.u-section-2 .u-image-4:before,
.u-section-2 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-4.u-image-4.u-image-4:hover {
  transform: translateX(0px) translateY(-10px) scale(1) !important;
}

.u-section-2 .u-image-4.u-image-4.u-image-4.hover {
  transform: translateX(0px) translateY(-10px) scale(1) !important;
}

.u-section-2 .u-container-layout:hover .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-5,
.u-section-2 .u-image-5:before,
.u-section-2 .u-image-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-5.u-image-5.u-image-5:hover {
  transform: translateX(0px) translateY(-10px) scale(1) !important;
}

.u-section-2 .u-image-5.u-image-5.u-image-5.hover {
  transform: translateX(0px) translateY(-10px) scale(1) !important;
}

.u-section-2 .u-container-layout:hover .u-image-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-6,
.u-section-2 .u-image-6:before,
.u-section-2 .u-image-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-6.u-image-6.u-image-6:hover {
  transform: translateX(0px) translateY(-10px) scale(1) !important;
}

.u-section-2 .u-image-6.u-image-6.u-image-6.hover {
  transform: translateX(0px) translateY(-10px) scale(1) !important;
}

.u-section-2 .u-container-layout:hover .u-image-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-7,
.u-section-2 .u-image-7:before,
.u-section-2 .u-image-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-7.u-image-7.u-image-7:hover {
  transform: translateX(0px) translateY(-10px) scale(1) !important;
}

.u-section-2 .u-image-7.u-image-7.u-image-7.hover {
  transform: translateX(0px) translateY(-10px) scale(1) !important;
}

.u-section-2 .u-container-layout:hover .u-image-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}